In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("state_year_avg.csv")
df

,State,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,2011,200328,1797,33,90,591,1083,12779,3790,7957,1032,71
1,ALASKA,2011,296955,2388,12,283,465,1628,9455,1080,7750,625,126
2,ARIZONA,2011,361339,1502,19,105,550,829,14289,3416,9579,1294,61
3,ARKANSAS,2011,194988,2905,37,161,858,1849,15504,4655,9756,1093,99
4,CALIFORNIA,2011,266646,1267,15,56,525,671,7311,1596,4492,1223,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,TEXAS,2018,279337,661,7,92,157,404,4021,652,2946,423,14
304,UTAH,2018,143286,363,3,71,79,211,2730,378,2006,346,6
305,VIRGINIA,2018,229837,352,8,41,82,221,2621,280,2125,216,11
306,WASHINGTON,2018,151524,332,2,69,74,188,3807,498,2798,511,11
307,WISCONSIN,2018,319785,1646,19,128,398,1101,4115,830,2398,888,32

In [7]:
df.to_json("state_year_avg.json")