In [7]:
import pandas as pd
import numpy as np

In [9]:
# import csv
raw_data2011 = "FBI_crime_data_raw/2011.csv"
raw_data2011_df = pd.read_csv(raw_data2011)

# drop rows with missing values
raw_data2011_df2 = raw_data2011_df.dropna(how='any')

raw_data2011_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State,City,NaN,Population1,Violent\ncrime,Murder,Forcible rape,Robbery,Aggravated assault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson2,NaN,NaN
4,ALABAMA3,BIRMINGHAM4,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
615,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Convert data types
raw_data2011_df2["Year"] = raw_data2_df["Year"].astype(int)
raw_data2_df["Violent Crime"] = raw_data2_df["Violent Crime"].astype(int)
raw_data2_df["Murder"] = raw_data2_df["Murder"].astype(int)
raw_data2_df["Rape"] = raw_data2_df["Rape"].astype(int)
raw_data2_df["Robbery"] = raw_data2_df["Robbery"].astype(int)
raw_data2_df["Aggravated assault"] = raw_data2_df["Aggravated assault"].astype(int)
raw_data2_df["Property Crime"] = raw_data2_df["Property Crime"].astype(int)
raw_data2_df["Burglary"] = raw_data2_df["Burglary"].astype(int)
raw_data2_df["Larceny Theft"] = raw_data2_df["Larceny Theft"].astype(int)
raw_data2_df["Motor Vehicle Theft"] = raw_data2_df["Motor Vehicle Theft"].astype(int)
raw_data2_df["Arson"] = raw_data2_df["Arson"].astype(int)

NameError: name 'raw_data2_df' is not defined

In [4]:
raw_data2_df

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
4,ARIZONA,CHANDLER,2018,255986,287,1,74,62,150,2771,369,2241,161,8
5,ARIZONA,CHANDLER,2019,255986,295,2,63,55,175,2511,281,2076,154,9
6,ARIZONA,GILBERT,2018,247463,132,1,49,15,67,1705,214,1409,82,5
7,ARIZONA,GILBERT,2019,247463,116,0,27,21,68,1416,185,1167,64,6
8,ARIZONA,GLENDALE,2018,249799,594,7,69,171,347,4830,756,3581,493,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,WISCONSIN,GREEN BAY,2019,105281,242,2,35,27,178,812,109,640,63,3
548,WISCONSIN,MADISON,2018,258455,501,2,57,90,352,2922,416,2264,242,5
549,WISCONSIN,MADISON,2019,258455,434,0,49,97,288,2834,428,2134,272,5
550,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88
551,WISCONSIN,MILWAUKEE,2019,595619,3429,44,169,761,2455,6241,1389,3325,1527,84

In [5]:
# list of values of State column
States = raw_data2_df['State'].unique()
States

array(['ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO', 'CONNECTICUT',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MARYLAND', 'MASSACHUSETTS',
       'MICHIGAN', 'MINNESOTA', 'MISSOURI', 'MONTANA', 'NEBRASKA',
       'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK',
       'NORTH CAROLINA 5, 6, 8', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA',
       'OREGON', 'PENNSYLVANIA', 'RHODE ISLAND', 'SOUTH CAROLINA',
       'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VIRGINIA',
       'WASHINGTON', 'WISCONSIN'], dtype=object)

In [6]:
# list of values of City column
Cities = raw_data2_df['City'].unique()
Cities

array(['CHANDLER', 'GILBERT', 'GLENDALE', 'MESA', 'PEORIA', 'PHOENIX',
       'SCOTTSDALE', 'SURPRISE', 'TEMPE', 'TUCSON', 'LITTLE ROCK',
       'ANAHEIM', 'ANTIOCH', 'BAKERSFIELD', 'BERKELEY', 'BURBANK',
       'CARLSBAD', 'CHULA VISTA', 'CLOVIS', 'CONCORD', 'CORONA',
       'COSTA MESA', 'DALY CITY', 'DOWNEY', 'EL CAJON', 'EL MONTE',
       'ELK GROVE', 'ESCONDIDO', 'FAIRFIELD', 'FONTANA', 'FREMONT',
       'FRESNO', 'FULLERTON', 'GARDEN GROVE', 'HAYWARD',
       'HUNTINGTON BEACH', 'INGLEWOOD', 'IRVINE', 'JURUPA VALLEY',
       'LANCASTER', 'LONG BEACH', 'LOS ANGELES', 'MODESTO',
       'MORENO VALLEY', 'MURRIETA', 'NORWALK', 'OAKLAND', 'OCEANSIDE',
       'ONTARIO', 'ORANGE', 'OXNARD', 'PALMDALE', 'PASADENA', 'POMONA',
       'RIALTO', 'RICHMOND', 'RIVERSIDE', 'ROSEVILLE', 'SACRAMENTO',
       'SALINAS', 'SAN BERNARDINO', 'SAN DIEGO', 'SAN FRANCISCO',
       'SAN JOSE', 'SAN MATEO', 'SANTA CLARA', 'SANTA CLARITA',
       'SANTA ROSA', 'SIMI VALLEY', 'STOCKTON', 'SUNNYVALE', 'TEMECULA',
       'THOUSAND OAKS', 'TORRANCE', 'VACAVILLE', 'VALLEJO', 'VENTURA',
       'VISALIA', 'VISTA', 'WEST COVINA', 'ARVADA', 'AURORA', 'BOULDER',
       'CENTENNIAL', 'COLORADO SPRINGS', 'DENVER', 'FORT COLLINS',
       'GREELEY', 'THORNTON', 'WESTMINSTER', 'BRIDGEPORT', 'HARTFORD',
       'STAMFORD', 'WATERBURY', 'BOCA RATON', 'CAPE CORAL', 'CLEARWATER',
       'CORAL SPRINGS', 'DAVIE', 'FORT LAUDERDALE', 'GAINESVILLE',
       'HIALEAH', 'HOLLYWOOD', 'JACKSONVILLE', 'LAKELAND', 'MIAMI',
       'MIAMI GARDENS', 'MIRAMAR', 'ORLANDO', 'PALM BAY',
       'PEMBROKE PINES', 'POMPANO BEACH', 'PORT ST. LUCIE',
       'ST. PETERSBURG', 'TALLAHASSEE', 'TAMPA', 'WEST PALM BEACH',
       'ATLANTA', 'SANDY SPRINGS', 'SAVANNAH-CHATHAM METROPOLITAN',
       'HONOLULU', 'BOISE', 'MERIDIAN', 'CHICAGO', 'ELGIN', 'JOLIET',
       'ROCKFORD', 'SPRINGFIELD', 'EVANSVILLE', 'FORT WAYNE',
       'SOUTH BEND', 'WICHITA', 'LEXINGTON', 'BATON ROUGE', 'LAFAYETTE',
       'SHREVEPORT', 'BALTIMORE5', 'CAMBRIDGE', 'LOWELL', 'WORCESTER',
       'ANN ARBOR', 'CLINTON TOWNSHIP', 'DETROIT', 'LANSING',
       'STERLING HEIGHTS', 'WARREN', 'MINNEAPOLIS6', 'ROCHESTER6',
       'ST. PAUL', 'COLUMBIA', 'INDEPENDENCE6', 'ST. LOUIS', 'BILLINGS',
       'LINCOLN', 'HENDERSON', 'LAS VEGAS METROPOLITAN POLICE DEPARTMENT',
       'NORTH LAS VEGAS', 'RENO', 'SPARKS', 'MANCHESTER',
       'EDISON TOWNSHIP', 'ELIZABETH', 'JERSEY CITY', 'LAKEWOOD TOWNSHIP',
       'NEWARK', 'PATERSON', 'WOODBRIDGE TOWNSHIP', 'ALBUQUERQUE',
       'LAS CRUCES', 'AMHERST TOWN', 'BUFFALO', 'ROCHESTER', 'SYRACUSE',
       'YONKERS', 'CARY', 'DURHAM', 'FAYETTEVILLE5', 'GREENSBORO',
       'HIGH POINT5', 'WILMINGTON', 'FARGO', 'AKRON', 'CLEVELAND',
       'DAYTON', 'BROKEN ARROW', 'NORMAN', 'OKLAHOMA CITY6', 'TULSA',
       'EUGENE', 'GRESHAM', 'HILLSBORO', 'PORTLAND10', 'SALEM',
       'ALLENTOWN', 'PHILADELPHIA', 'PITTSBURGH', 'PROVIDENCE',
       'CHARLESTON', 'SIOUX FALLS', 'CHATTANOOGA', 'CLARKSVILLE',
       'KNOXVILLE', 'MEMPHIS', 'METROPOLITAN NASHVILLE POLICE DEPARTMENT',
       'MURFREESBORO', 'ABILENE', 'ALLEN', 'AMARILLO', 'ARLINGTON',
       'AUSTIN6', 'BEAUMONT', 'BROWNSVILLE', 'CARROLLTON',
       'COLLEGE STATION', 'CORPUS CHRISTI6', 'DALLAS', 'DENTON',
       'EL PASO', 'FRISCO', 'GARLAND', 'GRAND PRAIRIE', 'IRVING',
       'KILLEEN', 'LAREDO6', 'LEAGUE CITY', 'LUBBOCK', 'MCALLEN',
       'MCKINNEY', 'MESQUITE', 'MIDLAND', 'ODESSA', 'PASADENA6',
       'PEARLAND', 'RICHARDSON6', 'ROUND ROCK', 'SAN ANGELO',
       'SAN ANTONIO', 'TYLER', 'WACO', 'WICHITA FALLS', 'PROVO',
       'SALT LAKE CITY', 'WEST JORDAN', 'WEST VALLEY', 'ALEXANDRIA',
       'CHESAPEAKE', 'NEWPORT NEWS', 'NORFOLK', 'ROANOKE',
       'VIRGINIA BEACH', 'BELLEVUE', 'EVERETT', 'KENT', 'SPOKANE',
       'GREEN BAY', 'MADISON', 'MILWAUKEE'], dtype=object)

In [7]:
raw_data2_df["State"].replace({"NORTH CAROLINA 5, 6, 8": "NORTH CAROLINA"}, inplace=True)
raw_data2_df["City"].replace({"BALTIMORE5": "BALTIMORE", "MINNEAPOLIS6": "MINNEAPOLIS", "ROCHESTER6": "ROCHESTER", "INDEPENDENCE6": "INDEPENDENCE", "LAS VEGAS METROPOLITAN POLICE DEPARTMENT": "LAS VEGAS", "FAYETTEVILLE5": "FAYETTEVILLE", "HIGH POINT5": "HIGH POINT", "OKLAHOMA CITY6": "OKLAHOMA CITY", "PORTLAND10": "PORTLAND", "METROPOLITAN NASHVILLE POLICE DEPARTMENT": "NASHVILLE", "AUSTIN6": "AUSTIN", "CORPUS CRISTI6": "CORPUS CRISTI", "LAREDO6": "LAREDO", "PASADENA6": "PASADENA", "RICHARDSON6": "RICHARDSON"}, inplace=True)

/Users/elysesulkey/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [8]:
cleaned_data = raw_data2_df.rename(columns = {"Aggravated assault": "Aggravated Assault"})
cleaned_data

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
4,ARIZONA,CHANDLER,2018,255986,287,1,74,62,150,2771,369,2241,161,8
5,ARIZONA,CHANDLER,2019,255986,295,2,63,55,175,2511,281,2076,154,9
6,ARIZONA,GILBERT,2018,247463,132,1,49,15,67,1705,214,1409,82,5
7,ARIZONA,GILBERT,2019,247463,116,0,27,21,68,1416,185,1167,64,6
8,ARIZONA,GLENDALE,2018,249799,594,7,69,171,347,4830,756,3581,493,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,WISCONSIN,GREEN BAY,2019,105281,242,2,35,27,178,812,109,640,63,3
548,WISCONSIN,MADISON,2018,258455,501,2,57,90,352,2922,416,2264,242,5
549,WISCONSIN,MADISON,2019,258455,434,0,49,97,288,2834,428,2134,272,5
550,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88
551,WISCONSIN,MILWAUKEE,2019,595619,3429,44,169,761,2455,6241,1389,3325,1527,84

In [9]:
# sort by State
cleaned_data.sort_values(by=["State"], inplace=True)
cleaned_data

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
4,ARIZONA,CHANDLER,2018,255986,287,1,74,62,150,2771,369,2241,161,8
23,ARIZONA,TUCSON,2019,537392,1936,27,264,560,1085,9809,1302,7402,1105,76
21,ARIZONA,TEMPE,2019,188543,430,3,66,103,258,3690,442,2952,296,8
20,ARIZONA,TEMPE,2018,188543,448,3,75,97,273,3567,456,2841,270,3
19,ARIZONA,SURPRISE,2019,136611,83,2,15,32,34,1052,108,872,72,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,WISCONSIN,MADISON,2018,258455,501,2,57,90,352,2922,416,2264,242,5
550,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88
546,WISCONSIN,GREEN BAY,2018,105281,247,1,43,25,178,817,106,663,48,3
547,WISCONSIN,GREEN BAY,2019,105281,242,2,35,27,178,812,109,640,63,3
551,WISCONSIN,MILWAUKEE,2019,595619,3429,44,169,761,2455,6241,1389,3325,1527,84

In [10]:
#export cleaned dataframe
cleaned_data.to_csv("cleaned_crime_data.csv", index = False)
cleaned_data.to_json("cleaned_crime_data.json")