In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv
raw_data2019 = "FBI_crime_data_raw/2019.csv"
raw_data2019_df = pd.read_csv(raw_data2019)

raw_data2019_df.columns

Index(['State', 'City', 'Unnamed: 2', 'Population1', 'Violent \ncrime',
       'Murder', 'Rape2', 'Robbery', 'Aggravated \nassault',
       'Property \ncrime', 'Burglary', 'Larceny-\ntheft',
       'Motor \nvehicle \ntheft', 'Arson3'],
      dtype='object')

In [3]:
raw_data2019_df = raw_data2019_df.rename(columns={"Unnamed: 2": "Year", "Population1":"Population", "Violent \ncrime":"Violent Crime", "Rape2":"Rape", "Aggravated \nassault":"Aggravated Assault", "Property \ncrime":"Property Crime", "Larceny-\ntheft":"Larceny Theft", "Motor \nvehicle \ntheft":"Motor Vehicle Theft", "Arson3":"Arson"})
raw_data2019_df

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,HUNTSVILLE4,2018,"196,620",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2019,NaN,872,12.0,79,159,622,"3,854",554,"2,804",496,NaN
2,NaN,TUSCALOOSA,2018,"101,764",253,3.0,20,71,159,"2,092",414,"1,569",109,NaN
3,NaN,NaN,2019,NaN,311,4.0,18,92,197,"2,166",347,"1,672",147,NaN
4,ARIZONA,CHANDLER,2018,"255,986",287,1.0,74,62,150,"2,771",369,"2,241",161,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,NaN,NaN,2019,NaN,242,2.0,35,27,178,812,109,640,63,3.0
548,NaN,MADISON,2018,"258,455",501,2.0,57,90,352,"2,922",416,"2,264",242,5.0
549,NaN,NaN,2019,NaN,434,0.0,49,97,288,"2,834",428,"2,134",272,5.0
550,NaN,MILWAUKEE,2018,"595,619","4,190",53.0,284,"1,080","2,773","8,606","1,967","4,266","2,373",88.0
551,NaN,NaN,2019,NaN,"3,429",44.0,169,761,"2,455","6,241","1,389","3,325","1,527",84.0

In [7]:
raw_data2019_df = raw_data2019_df.drop(columns=["Unnamed: 14"])
raw_data2019_df

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,BIRMINGHAM,2017,"212,178","1,833",42.0,92,473,"1,226","6,472","1,293","4,360",819,113.0
1,NaN,NaN,2018,NaN,"1,978",47.0,86,398,"1,447","6,280","1,152","4,233",895,76.0
2,NaN,MOBILE4,2017,"248,431",937,22.0,57,236,622,"6,493","1,509","4,399",585,35.0
3,NaN,NaN,2018,NaN,820,15.0,73,185,547,"6,027","1,235","4,183",609,24.0
4,NaN,MONTGOMERY,2017,"199,099",656,19.0,35,185,417,"4,246","1,031","2,797",418,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,NaN,NaN,2018,NaN,402,2.0,87,70,243,"2,876",393,"1,981",502,20.0
552,WISCONSIN,GREEN BAY,2017,"105,331",211,0.0,39,25,147,920,139,751,30,7.0
553,NaN,NaN,2018,NaN,243,1.0,40,25,177,810,106,657,47,3.0
554,NaN,MADISON,2017,"255,850",477,7.0,39,110,321,"3,243",433,"2,651",159,5.0
555,NaN,NaN,2018,NaN,516,3.0,55,93,365,"2,913",412,"2,260",241,5.0

In [4]:
# replace empty strings with NaN
raw_data2019_df['State'] = raw_data2019_df['State'].replace(' ', np.nan).ffill()
raw_data2019_df['City'] = raw_data2019_df['City'].replace(' ', np.nan).ffill()

In [5]:
# list of values of State column
States = raw_data2019_df['State'].unique()
States

array(['ALABAMA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO',
       'CONNECTICUT', 'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS',
       'INDIANA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA 5, 6, 8',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VIRGINIA', 'WASHINGTON', 'WISCONSIN'],
      dtype=object)

In [6]:
# list of values of city column
Cities = raw_data2019_df['City'].unique()
Cities

array(['HUNTSVILLE4', 'TUSCALOOSA', 'CHANDLER', 'GILBERT', 'GLENDALE',
       'MESA', 'PEORIA', 'PHOENIX', 'SCOTTSDALE', 'SURPRISE', 'TEMPE',
       'TUCSON', 'LITTLE ROCK', 'ANAHEIM', 'ANTIOCH', 'BAKERSFIELD',
       'BERKELEY', 'BURBANK', 'CARLSBAD', 'CHULA VISTA', 'CLOVIS',
       'CONCORD', 'CORONA', 'COSTA MESA', 'DALY CITY', 'DOWNEY',
       'EL CAJON', 'EL MONTE', 'ELK GROVE', 'ESCONDIDO', 'FAIRFIELD',
       'FONTANA', 'FREMONT', 'FRESNO', 'FULLERTON', 'GARDEN GROVE',
       'HAYWARD', 'HUNTINGTON BEACH', 'INGLEWOOD', 'IRVINE',
       'JURUPA VALLEY', 'LANCASTER', 'LONG BEACH', 'LOS ANGELES',
       'MODESTO', 'MORENO VALLEY', 'MURRIETA', 'NORWALK', 'OAKLAND',
       'OCEANSIDE', 'ONTARIO', 'ORANGE', 'OXNARD', 'PALMDALE', 'PASADENA',
       'POMONA', 'RIALTO', 'RICHMOND', 'RIVERSIDE', 'ROSEVILLE',
       'SACRAMENTO', 'SALINAS', 'SAN BERNARDINO', 'SAN DIEGO',
       'SAN FRANCISCO', 'SAN JOSE', 'SAN MATEO', 'SANTA CLARA',
       'SANTA CLARITA', 'SANTA ROSA', 'SIMI VALLEY', 'STOCKTON',
       'SUNNYVALE', 'TEMECULA', 'THOUSAND OAKS', 'TORRANCE', 'VACAVILLE',
       'VALLEJO', 'VENTURA', 'VISALIA', 'VISTA', 'WEST COVINA', 'ARVADA',
       'AURORA', 'BOULDER', 'CENTENNIAL', 'COLORADO SPRINGS', 'DENVER',
       'FORT COLLINS', 'GREELEY', 'THORNTON', 'WESTMINSTER', 'BRIDGEPORT',
       'HARTFORD', 'STAMFORD', 'WATERBURY', 'BOCA RATON', 'CAPE CORAL',
       'CLEARWATER', 'CORAL SPRINGS', 'DAVIE', 'FORT LAUDERDALE',
       'GAINESVILLE', 'HIALEAH', 'HOLLYWOOD', 'JACKSONVILLE', 'LAKELAND',
       'MIAMI', 'MIAMI GARDENS', 'MIRAMAR', 'ORLANDO', 'PALM BAY',
       'PEMBROKE PINES', 'POMPANO BEACH', 'PORT ST. LUCIE',
       'ST. PETERSBURG', 'TALLAHASSEE', 'TAMPA', 'WEST PALM BEACH',
       'ATLANTA', 'SANDY SPRINGS', 'SAVANNAH-CHATHAM METROPOLITAN',
       'HONOLULU', 'BOISE', 'MERIDIAN', 'CHICAGO', 'ELGIN', 'JOLIET',
       'NAPERVILLE5', 'ROCKFORD', 'SPRINGFIELD', 'EVANSVILLE',
       'FORT WAYNE', 'SOUTH BEND', 'WICHITA', 'LEXINGTON', 'BATON ROUGE',
       'LAFAYETTE', 'NEW ORLEANS5', 'SHREVEPORT', 'BALTIMORE5', 'BOSTON',
       'CAMBRIDGE', 'LOWELL', 'WORCESTER', 'ANN ARBOR',
       'CLINTON TOWNSHIP', 'DETROIT', 'LANSING', 'STERLING HEIGHTS',
       'WARREN', 'MINNEAPOLIS6', 'ROCHESTER6', 'ST. PAUL', 'JACKSON7',
       'COLUMBIA', 'INDEPENDENCE6', 'ST. LOUIS', 'BILLINGS', 'LINCOLN',
       'OMAHA', 'HENDERSON', 'LAS VEGAS METROPOLITAN POLICE DEPARTMENT',
       'NORTH LAS VEGAS', 'RENO', 'SPARKS', 'MANCHESTER',
       'EDISON TOWNSHIP', 'ELIZABETH', 'JERSEY CITY', 'LAKEWOOD TOWNSHIP',
       'NEWARK', 'PATERSON', 'WOODBRIDGE TOWNSHIP', 'ALBUQUERQUE',
       'LAS CRUCES', 'AMHERST TOWN', 'BUFFALO', 'NEW YORK', 'ROCHESTER',
       'SYRACUSE', 'YONKERS', 'CARY', 'CHARLOTTE-MECKLENBURG5', 'DURHAM',
       'FAYETTEVILLE5', 'GREENSBORO', 'HIGH POINT5', 'WILMINGTON',
       'FARGO', 'AKRON', 'CINCINNATI5', 'CLEVELAND', 'COLUMBUS5',
       'DAYTON', 'TOLEDO5, 9', 'BROKEN ARROW', 'NORMAN', 'OKLAHOMA CITY6',
       'TULSA', 'EUGENE', 'GRESHAM', 'HILLSBORO', 'PORTLAND10', 'SALEM',
       'ALLENTOWN', 'PHILADELPHIA', 'PITTSBURGH', 'PROVIDENCE',
       'CHARLESTON', 'SIOUX FALLS', 'CHATTANOOGA', 'CLARKSVILLE',
       'KNOXVILLE', 'MEMPHIS', 'METROPOLITAN NASHVILLE POLICE DEPARTMENT',
       'MURFREESBORO', 'ABILENE', 'ALLEN', 'AMARILLO', 'ARLINGTON',
       'AUSTIN6', 'BEAUMONT', 'BROWNSVILLE', 'CARROLLTON',
       'COLLEGE STATION', 'CORPUS CHRISTI6', 'DALLAS', 'DENTON',
       'EL PASO', 'FRISCO', 'GARLAND', 'GRAND PRAIRIE', 'HOUSTON5',
       'IRVING', 'KILLEEN', 'LAREDO6', 'LEAGUE CITY', 'LUBBOCK',
       'MCALLEN', 'MCKINNEY', 'MESQUITE', 'MIDLAND', 'ODESSA',
       'PASADENA6', 'PEARLAND', 'RICHARDSON6', 'ROUND ROCK', 'SAN ANGELO',
       'SAN ANTONIO', 'TYLER', 'WACO', 'WICHITA FALLS', 'PROVO',
       'SALT LAKE CITY', 'WEST JORDAN', 'WEST VALLEY', 'ALEXANDRIA',
       'CHESAPEAKE', 'NEWPORT NEWS', 'NORFOLK', 'ROANOKE',
       'VIRGINIA BEACH', 'BELLEVUE', 'EVERETT', 'KENT', 'SPOKANE',
       'GREEN BAY', 'MADISON', 'MILWAUKEE'], dtype=object)

In [9]:
# fix spellings
raw_data2019_df["State"].replace({"NORTH CAROLINA 5, 6, 8": "NORTH CAROLINA"}, inplace=True)

raw_data2019_df["City"].replace({"HUNTSVILLE4": "HUNTSVILLE", "SAVANNAH-CHATHAM METROPOLITAN": "SAVANNAH-CHATHAM", "NAPERVILLE5": "NAPERVILLE", "NEW ORLEANS5": "NEW ORLEANS", "BALTIMORE5":"BALTIMORE", "MINNEAPOLIS6": "MINNEAPOLIS", "ROCHESTER6": "ROCHESTER", "JACKSON7": "JACKSON", "INDEPENDENCE6": "INDEPENDENCE", "LAS VEGAS METROPOLITAN POLICE DEPARTMENT": "LAS VEGAS", "FAYETTEVILLE5":"FAYETTEVILLE", "HIGH POINT5": "HIGH POINT", "CINCINNATI5": "CINCINNATI", "COLUMBUS5": "COLUMBUS", "TOLEDO5, 9": "TOLEDO", "OKLAHOMA CITY6": "OKLAHOMA CITY", "PORTLAND10": "PORTLAND", "METROPOLITAN NASHVILLE POLICE DEPARTMENT": "NASHVILLE", "AUSTIN6": "AUSTIN", "CORPUS CHRISTI6": "CORPUS CHRISTI", "HOUSTON5": "HOUSTON", "LAREDO6": "LAREDO", "PASADENA6": "PASADENA", "RICHARDSON6": "RICHARDSON"}, inplace=True)

# fill in empty state/city values
raw_data2019_df['State'] = raw_data2019_df['State'].ffill()
raw_data2019_df['City'] = raw_data2019_df['City'].ffill()

raw_data2019_df

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,HUNTSVILLE,2018,"196,620",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,HUNTSVILLE,2019,NaN,872,12.0,79,159,622,"3,854",554,"2,804",496,NaN
2,ALABAMA,TUSCALOOSA,2018,"101,764",253,3.0,20,71,159,"2,092",414,"1,569",109,NaN
3,ALABAMA,TUSCALOOSA,2019,NaN,311,4.0,18,92,197,"2,166",347,"1,672",147,NaN
4,ARIZONA,CHANDLER,2018,"255,986",287,1.0,74,62,150,"2,771",369,"2,241",161,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,WISCONSIN,GREEN BAY,2019,NaN,242,2.0,35,27,178,812,109,640,63,3.0
548,WISCONSIN,MADISON,2018,"258,455",501,2.0,57,90,352,"2,922",416,"2,264",242,5.0
549,WISCONSIN,MADISON,2019,NaN,434,0.0,49,97,288,"2,834",428,"2,134",272,5.0
550,WISCONSIN,MILWAUKEE,2018,"595,619","4,190",53.0,284,"1,080","2,773","8,606","1,967","4,266","2,373",88.0
551,WISCONSIN,MILWAUKEE,2019,NaN,"3,429",44.0,169,761,"2,455","6,241","1,389","3,325","1,527",84.0

In [10]:
# drop rows with missing values
data2019_df = raw_data2019_df.dropna()
data2019_df

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
4,ARIZONA,CHANDLER,2018,"255,986",287,1.0,74,62,150,"2,771",369,"2,241",161,8.0
6,ARIZONA,GILBERT,2018,"247,463",132,1.0,49,15,67,"1,705",214,"1,409",82,5.0
8,ARIZONA,GLENDALE,2018,"249,799",594,7.0,69,171,347,"4,830",756,"3,581",493,34.0
10,ARIZONA,MESA,2018,"504,873",967,10.0,143,192,622,"5,113",751,"3,901",461,7.0
12,ARIZONA,PEORIA,2018,"170,177",201,2.0,33,29,137,"1,596",281,"1,224",91,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,WASHINGTON,KENT,2018,"129,870",238,4.0,47,101,86,"3,065",409,"2,120",536,9.0
544,WASHINGTON,SPOKANE,2018,"218,222",814,4.0,190,109,511,"7,490",978,"5,698",814,19.0
546,WISCONSIN,GREEN BAY,2018,"105,281",247,1.0,43,25,178,817,106,663,48,3.0
548,WISCONSIN,MADISON,2018,"258,455",501,2.0,57,90,352,"2,922",416,"2,264",242,5.0
550,WISCONSIN,MILWAUKEE,2018,"595,619","4,190",53.0,284,"1,080","2,773","8,606","1,967","4,266","2,373",88.0

In [11]:
data2019_df.dtypes

State                   object
City                    object
Year                     int64
Population              object
Violent Crime           object
Murder                 float64
Rape                    object
Robbery                 object
Aggravated Assault      object
Property Crime          object
Burglary                object
Larceny Theft           object
Motor Vehicle Theft     object
Arson                  float64
dtype: object

In [12]:
# Convert data types
data2019_df["Year"] = data2019_df["Year"].astype(int)
data2019_df["Population"] = data2019_df["Population"].str.replace(',', '').astype(int)
data2019_df["Violent Crime"] = data2019_df["Violent Crime"].str.replace(',', '').astype(int)
data2019_df["Murder"] = data2019_df["Murder"].astype(int)
data2019_df["Rape"] = data2019_df["Rape"].str.replace(',', '').astype(int)
data2019_df["Robbery"] = data2019_df["Robbery"].str.replace(',', '').astype(int)
data2019_df["Aggravated Assault"] = data2019_df["Aggravated Assault"].str.replace(',', '').astype(int)
data2019_df["Property Crime"] = data2019_df["Property Crime"].str.replace(',', '').astype(int)
data2019_df["Burglary"] = data2019_df["Burglary"].str.replace(',', '').astype(int)
data2019_df["Larceny Theft"] = data2019_df["Larceny Theft"].str.replace(',', '').astype(int)
data2019_df["Motor Vehicle Theft"] = data2019_df["Motor Vehicle Theft"].str.replace(',', '').astype(int)
data2019_df["Arson"] = data2019_df["Arson"].astype(int)

/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [13]:
data2019_df

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
4,ARIZONA,CHANDLER,2018,255986,287,1,74,62,150,2771,369,2241,161,8
6,ARIZONA,GILBERT,2018,247463,132,1,49,15,67,1705,214,1409,82,5
8,ARIZONA,GLENDALE,2018,249799,594,7,69,171,347,4830,756,3581,493,34
10,ARIZONA,MESA,2018,504873,967,10,143,192,622,5113,751,3901,461,7
12,ARIZONA,PEORIA,2018,170177,201,2,33,29,137,1596,281,1224,91,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,WASHINGTON,KENT,2018,129870,238,4,47,101,86,3065,409,2120,536,9
544,WASHINGTON,SPOKANE,2018,218222,814,4,190,109,511,7490,978,5698,814,19
546,WISCONSIN,GREEN BAY,2018,105281,247,1,43,25,178,817,106,663,48,3
548,WISCONSIN,MADISON,2018,258455,501,2,57,90,352,2922,416,2264,242,5
550,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88

In [14]:
# sort by State
data2019_df.sort_values(by=["State"], inplace=True)
data2019_df

/Users/elysesulkey/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
4,ARIZONA,CHANDLER,2018,255986,287,1,74,62,150,2771,369,2241,161,8
22,ARIZONA,TUCSON,2018,537392,2027,26,255,670,1076,13925,1690,10959,1276,92
18,ARIZONA,SURPRISE,2018,136611,67,3,10,20,34,1088,138,860,90,3
16,ARIZONA,SCOTTSDALE,2018,254961,211,7,53,52,99,2853,350,2362,141,7
14,ARIZONA,PHOENIX,2018,1653080,6118,67,566,1438,4047,28854,5465,19461,3928,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,WASHINGTON,BELLEVUE,2018,146913,95,0,14,34,47,2230,255,1814,161,8
544,WASHINGTON,SPOKANE,2018,218222,814,4,190,109,511,7490,978,5698,814,19
548,WISCONSIN,MADISON,2018,258455,501,2,57,90,352,2922,416,2264,242,5
546,WISCONSIN,GREEN BAY,2018,105281,247,1,43,25,178,817,106,663,48,3
550,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88

In [15]:
#export cleaned dataframe
data2019_df.to_csv("FBI_crime_data_cleaned/cleaned_2019.csv", index = False)
data2019_df.to_json("FBI_crime_data_cleaned/cleaned_2019.json")