In [1]:
import pandas as pd
import numpy as np

In [2]:
# import csv
data11 = "FBI_crime_data_cleaned/cleaned_2011.csv"
data11_df = pd.read_csv(data11)

data12 = "FBI_crime_data_cleaned/cleaned_2012.csv"
data12_df = pd.read_csv(data12)

data13 = "FBI_crime_data_cleaned/cleaned_2013.csv"
data13_df = pd.read_csv(data13)

data14 = "FBI_crime_data_cleaned/cleaned_2014.csv"
data14_df = pd.read_csv(data14)

data15 = "FBI_crime_data_cleaned/cleaned_2015.csv"
data15_df = pd.read_csv(data15)

data16 = "FBI_crime_data_cleaned/cleaned_2016.csv"
data16_df = pd.read_csv(data16)

data17 = "FBI_crime_data_cleaned/cleaned_2017.csv"
data17_df = pd.read_csv(data17)

data18 = "FBI_crime_data_cleaned/cleaned_2018.csv"
data18_df = pd.read_csv(data18)

data19 = "FBI_crime_data_cleaned/cleaned_2019.csv"
data19_df = pd.read_csv(data19)

In [3]:
joined_data = [data11_df, data12_df, data13_df, data14_df, data15_df, data16_df, data17_df, data18_df, data19_df]
combined_data = pd.concat(joined_data)
combined_data

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,BIRMINGHAM,2011,213258,3163,54,182,1011,1916,17841,5806,10522,1513,123
1,ALABAMA,HUNTSVILLE,2011,180972,1521,13,51,408,1049,9753,2680,6306,767,38
2,ALABAMA,MONTGOMERY,2011,206754,707,31,38,354,284,10743,2884,7043,816,52
3,ALASKA,ANCHORAGE,2011,296955,2388,12,283,465,1628,9455,1080,7750,625,126
4,ARIZONA,TEMPE,2011,164008,787,5,45,237,500,8933,1579,6804,550,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,WASHINGTON,BELLEVUE,2018,146913,95,0,14,34,47,2230,255,1814,161,8
252,WASHINGTON,SPOKANE,2018,218222,814,4,190,109,511,7490,978,5698,814,19
253,WISCONSIN,MADISON,2018,258455,501,2,57,90,352,2922,416,2264,242,5
254,WISCONSIN,GREEN BAY,2018,105281,247,1,43,25,178,817,106,663,48,3
255,WISCONSIN,MILWAUKEE,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88

In [5]:
new_combined_data = combined_data.drop(columns=["City"], axis=1)

In [7]:
# sort by State
new_combined_data.sort_values(by=["State", "Year"], inplace=True)
new_combined_data

,State,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,2011,213258,3163,54,182,1011,1916,17841,5806,10522,1513,123
1,ALABAMA,2011,180972,1521,13,51,408,1049,9753,2680,6306,767,38
2,ALABAMA,2011,206754,707,31,38,354,284,10743,2884,7043,816,52
0,ALABAMA,2012,213266,3237,67,152,983,2035,14788,4704,9042,1042,117
1,ALABAMA,2012,183691,1696,14,72,456,1154,9261,2165,6386,710,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,WISCONSIN,2017,105331,211,0,39,25,147,920,139,751,30,7
261,WISCONSIN,2017,255850,477,7,39,110,321,3243,433,2651,159,5
253,WISCONSIN,2018,258455,501,2,57,90,352,2922,416,2264,242,5
254,WISCONSIN,2018,105281,247,1,43,25,178,817,106,663,48,3
255,WISCONSIN,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88

In [8]:
new_combined_data.reset_index(drop=True, inplace=True)
new_combined_data

,State,Year,Population,Violent Crime,Murder,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny Theft,Motor Vehicle Theft,Arson
0,ALABAMA,2011,213258,3163,54,182,1011,1916,17841,5806,10522,1513,123
1,ALABAMA,2011,180972,1521,13,51,408,1049,9753,2680,6306,767,38
2,ALABAMA,2011,206754,707,31,38,354,284,10743,2884,7043,816,52
3,ALABAMA,2012,213266,3237,67,152,983,2035,14788,4704,9042,1042,117
4,ALABAMA,2012,183691,1696,14,72,456,1154,9261,2165,6386,710,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013,WISCONSIN,2017,105331,211,0,39,25,147,920,139,751,30,7
2014,WISCONSIN,2017,255850,477,7,39,110,321,3243,433,2651,159,5
2015,WISCONSIN,2018,258455,501,2,57,90,352,2922,416,2264,242,5
2016,WISCONSIN,2018,105281,247,1,43,25,178,817,106,663,48,3
2017,WISCONSIN,2018,595619,4190,53,284,1080,2773,8606,1967,4266,2373,88

In [9]:
#export cleaned dataframe
new_combined_data.to_csv("FBI_crime_data_cleaned/combined_data.csv", index = False)
new_combined_data.to_json("FBI_crime_data_cleaned/combined_data.json")