In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor
import numpy as np
import pandas as pd

In [2]:
crime_df = pd.read_csv("../data/combined_data_total.csv")[["State", "Year", "Population", "Violent Crime"]]
crime_df["State"].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DISTRICT OF COLUMBIA', 'FLORIDA',
       'GEORGIA', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS',
       'KENTUCKY', 'LOUISIANA', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN',
       'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA',
       'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK',
       'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON',
       'PENNSYLVANIA', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VIRGINIA', 'WASHINGTON', 'WISCONSIN',
       'RHODE ISLAND', 'HAWAII'], dtype=object)

In [3]:
pop2028 = pd.read_csv("population_pred_2028.csv").drop(["Unnamed: 0"], axis=1)
pop2028

             State  Year    Population
0          ARIZONA  2028  7.102665e+06
1         ARKANSAS  2028  5.732912e+05
2       CALIFORNIA  2028  3.502462e+07
3         COLORADO  2028  4.592906e+06
4      CONNECTICUT  2028  1.026965e+06
5          FLORIDA  2028  9.372123e+06
6          GEORGIA  2028  1.595486e+06
7           HAWAII  2028  1.894247e+06
8            IDAHO  2028  6.587234e+05
9         ILLINOIS  2028  7.051701e+06
10         INDIANA  2028  1.346054e+06
11          KANSAS  2028  1.029083e+06
12        KENTUCKY  2028  8.143061e+05
13       LOUISIANA  2028  1.158429e+06
14        MARYLAND  2028  1.143720e+06
15   MASSACHUSETTS  2028  1.111957e+06
16        MICHIGAN  2028  2.542939e+06
17       MINNESOTA  2028  1.533778e+06
18        MISSOURI  2028  2.289508e+06
19         MONTANA  2028  3.698406e+05
20        NEBRASKA  2028  1.162782e+06
21          NEVADA  2028  4.884084e+06
22   NEW HAMPSHIRE  2028  2.981227e+05
23      NEW JERSEY  2028  2.029607e+06
24      NEW MEXICO  2028  1.146645e+06
25        NEW YORK  2028  1.803223e+06
26    NORTH DAKOTA  2028  3.016259e+05
27            OHIO  2028  2.114681e+06
28        OKLAHOMA  2028  2.542892e+06
29          OREGON  2028  1.443102e+06
30    PENNSYLVANIA  2028  3.424159e+06
31    RHODE ISLAND  2028  6.643056e+05
32  SOUTH CAROLINA  2028  5.712126e+05
33    SOUTH DAKOTA  2028  4.275016e+05
34       TENNESSEE  2028  3.970569e+06
35           TEXAS  2028  2.007008e+07
36            UTAH  2028  9.915391e+05
37        VIRGINIA  2028  2.776499e+06
38      WASHINGTON  2028  1.919324e+06
39       WISCONSIN  2028  1.849546e+06

In [4]:
states40 = list(pop2028["State"].values)
len(states40)

40

In [5]:
cleaned = crime_df[crime_df['State'].isin(states40)]
cleaned

           State  Year  Population  Violent Crime
2        ARIZONA  2011     6504102          27034
3       ARKANSAS  2011      389976           5810
4     CALIFORNIA  2011    36797192         174798
5       COLORADO  2011     4607488          20850
6    CONNECTICUT  2011     1265922          11156
..           ...   ...         ...            ...
301        TEXAS  2018    19553606          46274
302         UTAH  2018     1146286           2902
303     VIRGINIA  2018     2758044           4226
304   WASHINGTON  2018     1212192           2658
305    WISCONSIN  2018     1918710           9876

[284 rows x 4 columns]

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(cleaned[["State"]]))

# Add the encoded variable names to the dataframe
encode_df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
# Merge one-hot encoded features and drop the originals
cleaned.merge(encode_df,left_index=True, right_index=True)

,State,Year,Population,Violent Crime,0,1,2,3,4,5,...,30,31,32,33,34,35,36,37,38,39
2,ARIZONA,2011,6504102,27034,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ARKANSAS,2011,389976,5810,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CALIFORNIA,2011,36797192,174798,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,COLORADO,2011,4607488,20850,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,CONNECTICUT,2011,1265922,11156,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,LOUISIANA,2018,1086380,4378,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
280,MARYLAND,2018,1210872,10286,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
281,MASSACHUSETTS,2018,1136474,3430,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
282,MICHIGAN,2018,2561440,15400,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
283,MINNESOTA,2018,1710108,5530,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
# Merge one-hot encoded features and drop the originals
crime_df = cleaned.drop(["State"], axis=1).merge(encode_df,left_index=True, right_index=True)
crime_df

,Year,Population,Violent Crime,0,1,2,3,4,5,6,...,30,31,32,33,34,35,36,37,38,39
2,2011,6504102,27034,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011,389976,5810,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011,36797192,174798,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2011,4607488,20850,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2011,1265922,11156,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2018,1086380,4378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
280,2018,1210872,10286,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
281,2018,1136474,3430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
282,2018,2561440,15400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
283,2018,1710108,5530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
# Remove target from features data
y = crime_df["Violent Crime"].values
X = crime_df.drop(columns=["Violent Crime"], axis=1).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)

In [10]:
# Create a random forest classifier.
rf_model = RandomForestRegressor(n_estimators=300, random_state=100) 

# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test)

In [11]:
y_pred

array([  9471.74      ,   2257.56      ,    466.09333333,  27167.04666667,
        15291.04666667,  24193.77333333,  38782.38666667,   2208.92666667,
        13956.48666667,  11554.56      ,   2627.30666667, 105391.61333333,
         7282.81333333,   5142.91333333,  30988.49333333,  82275.16666667,
          459.96666667,  13731.22666667,  23384.68      ,   3973.69333333,
          673.44      ,   2382.06      ,   8267.82      ,   1381.94666667,
         7965.09333333,    943.83333333,  14754.01333333,   3803.76666667,
         6745.11333333,  26953.73333333,   4841.98666667,    865.62666667,
        16276.88      ,  11898.74      ,   8229.48666667,   3534.46      ,
         9965.26666667,   6352.14      ,   1064.36      ,  33453.90666667,
        23808.43333333,    565.38666667,   3771.28666667,  17886.02666667,
         8335.09333333,  12634.86666667,  14108.94666667,  11253.21333333,
         7035.88666667,    447.66666667,   8441.03333333,   5834.01333333,
        18687.42      ,   5226.14666667,   6455.56      ,   1207.9       ,
         5716.86      ,   7765.08      ,    499.27333333,  18066.99333333,
        12029.61333333,   1080.80666667,   6347.99333333,   2605.2       ,
        19198.34      ,   1369.08666667])

In [12]:
encode_2028 = pd.DataFrame(enc.fit_transform(pop2028[["State"]]))

encode_2028 = cleaned.drop(["State", "Violent Crime"], axis=1).merge(encode_2028,left_index=True, right_index=True)

encode_2028

,Year,Population,0,1,2,3,4,5,6,7,...,30,31,32,33,34,35,36,37,38,39
2,2011,6504102,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011,389976,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011,36797192,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2011,4607488,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2011,1265922,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2011,8337570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2011,1922908,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2011,415890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2011,1964900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2011,949402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2011,1371880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2011,1925998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2011,865452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2011,1253696,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2011,1098216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2011,2990218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2011,1346392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2011,2336278,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2011,210190,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2011,1346586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2011,3890992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2011,219416,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2011,1797716,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2011,1103922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2011,1868568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,2011,214658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2011,2070306,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2011,2188842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2011,2021680,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
35,2011,1058256,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36,2011,242962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
37,2011,311520,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
38,2011,3718106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
39,2011,23035094,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [13]:
pred_2028 = rf_model.predict(encode_2028)
pred_2028

array([ 32317.13333333,   3971.68666667, 153233.23333333,  23808.43333333,
        11764.83333333,  42495.8       ,  13590.28      ,   1697.36      ,
        12607.82666667,   5260.61333333,  11654.59333333,  10777.94666667,
         4022.64      ,  13086.31333333,   9781.20666667,  18731.62666667,
        15466.59333333,  16998.02666667,   2405.82666667,  12029.61333333,
        24544.54      ,    751.8       ,  14235.93333333,   8574.34666667,
        14254.66      ,    742.18666667,  11915.4       ,  15413.7       ,
        11825.88666667,   6364.96666667,    750.96      ,    872.23333333,
        18918.15333333, 107591.73333333])

In [14]:
pop2028

             State  Year    Population
0          ARIZONA  2028  7.102665e+06
1         ARKANSAS  2028  5.732912e+05
2       CALIFORNIA  2028  3.502462e+07
3         COLORADO  2028  4.592906e+06
4      CONNECTICUT  2028  1.026965e+06
5          FLORIDA  2028  9.372123e+06
6          GEORGIA  2028  1.595486e+06
7           HAWAII  2028  1.894247e+06
8            IDAHO  2028  6.587234e+05
9         ILLINOIS  2028  7.051701e+06
10         INDIANA  2028  1.346054e+06
11          KANSAS  2028  1.029083e+06
12        KENTUCKY  2028  8.143061e+05
13       LOUISIANA  2028  1.158429e+06
14        MARYLAND  2028  1.143720e+06
15   MASSACHUSETTS  2028  1.111957e+06
16        MICHIGAN  2028  2.542939e+06
17       MINNESOTA  2028  1.533778e+06
18        MISSOURI  2028  2.289508e+06
19         MONTANA  2028  3.698406e+05
20        NEBRASKA  2028  1.162782e+06
21          NEVADA  2028  4.884084e+06
22   NEW HAMPSHIRE  2028  2.981227e+05
23      NEW JERSEY  2028  2.029607e+06
24      NEW MEXICO  2028  1.146645e+06
25        NEW YORK  2028  1.803223e+06
26    NORTH DAKOTA  2028  3.016259e+05
27            OHIO  2028  2.114681e+06
28        OKLAHOMA  2028  2.542892e+06
29          OREGON  2028  1.443102e+06
30    PENNSYLVANIA  2028  3.424159e+06
31    RHODE ISLAND  2028  6.643056e+05
32  SOUTH CAROLINA  2028  5.712126e+05
33    SOUTH DAKOTA  2028  4.275016e+05
34       TENNESSEE  2028  3.970569e+06
35           TEXAS  2028  2.007008e+07
36            UTAH  2028  9.915391e+05
37        VIRGINIA  2028  2.776499e+06
38      WASHINGTON  2028  1.919324e+06
39       WISCONSIN  2028  1.849546e+06

In [15]:
# pop2028["Violent Crime"] = pred_2028
# year_vcrime_df = pop2028[["Year","Population","Violent Crime"]].reset_index().drop(["index"], axis=1)
# year_vcrime_df

In [16]:
# population_pred_df = crime_df[crime_df["Year"]==2018]
# population_pred_df["Year"] = population_pred_df["Year"]+10
# prediction_table_df = population_pred_df.drop(["Violent Crime", "Population"],axis=1)
# pop_predictions = rf_model.predict(prediction_table_df.values)

In [17]:
# pop_predictions

In [18]:
# prediction_table_df["Population"] = pop_predictions
# year_pop_df = prediction_table_df[["Year","Population"]].reset_index().drop(["index"], axis=1)
# year_pop_df

In [19]:
# year_pop_df["State"] = states2018
# year_pop_df