In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor
import numpy as np
import pandas as pd

In [2]:
crime_df = pd.read_csv("../data/state_year_avg.csv")[["State", "Year", "Population", "Violent Crime"]]
crime_df["State"].unique()

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DISTRICT OF COLUMBIA', 'FLORIDA',
       'GEORGIA', 'IDAHO', 'ILLINOIS', 'INDIANA', 'IOWA', 'KANSAS',
       'KENTUCKY', 'LOUISIANA', 'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN',
       'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA',
       'NEVADA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO', 'NEW YORK',
       'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON',
       'PENNSYLVANIA', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VIRGINIA', 'WASHINGTON', 'WISCONSIN',
       'RHODE ISLAND', 'HAWAII'], dtype=object)

In [3]:
pop2028 = pd.read_csv("population_pred_2028.csv").drop(["Unnamed: 0"], axis=1)
pop2028

             State  Year     Population
0          ARIZONA  2028  378558.816667
1         ARKANSAS  2028  176977.160000
2       CALIFORNIA  2028  293668.236667
3         COLORADO  2028  221890.436667
4      CONNECTICUT  2028  128024.430000
5          FLORIDA  2028  178081.776667
6          GEORGIA  2028  242543.240000
7           HAWAII  2028  966734.036667
8            IDAHO  2028  175753.353333
9         ILLINOIS  2028  475493.360000
10         INDIANA  2028  195513.663333
11          KANSAS  2028  319097.926667
12        KENTUCKY  2028  342346.256667
13       LOUISIANA  2028  177435.643333
14        MARYLAND  2028  584199.050000
15   MASSACHUSETTS  2028  142588.483333
16        MICHIGAN  2028  204795.393333
17       MINNESOTA  2028  268156.780000
18        MISSOURI  2028  190537.720000
19         MONTANA  2028  112166.743333
20        NEBRASKA  2028  328722.036667
21          NEVADA  2028  589316.196667
22   NEW HAMPSHIRE  2028  112449.733333
23      NEW JERSEY  2028  158615.063333
24      NEW MEXICO  2028  397619.543333
25        NEW YORK  2028  181485.736667
26    NORTH DAKOTA  2028  124251.220000
27            OHIO  2028  270796.716667
28        OKLAHOMA  2028  322898.150000
29          OREGON  2028  165949.373333
30    PENNSYLVANIA  2028  682497.203333
31    RHODE ISLAND  2028  173045.336667
32  SOUTH CAROLINA  2028  134325.783333
33    SOUTH DAKOTA  2028  178000.290000
34       TENNESSEE  2028  328914.310000
35           TEXAS  2028  298416.526667
36            UTAH  2028  145033.900000
37        VIRGINIA  2028  190608.133333
38      WASHINGTON  2028  168143.976667
39       WISCONSIN  2028  314781.930000

In [4]:
states40 = list(pop2028["State"].values)
len(states40)

40

In [5]:
cleaned = crime_df[crime_df['State'].isin(states40)]
cleaned

           State  Year  Population  Violent Crime
2        ARIZONA  2011      361339           1502
3       ARKANSAS  2011      194988           2905
4     CALIFORNIA  2011      266646           1267
5       COLORADO  2011      209431            948
6    CONNECTICUT  2011      126592           1116
..           ...   ...         ...            ...
301        TEXAS  2018      279337            661
302         UTAH  2018      143286            363
303     VIRGINIA  2018      229837            352
304   WASHINGTON  2018      151524            332
305    WISCONSIN  2018      319785           1646

[284 rows x 4 columns]

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(cleaned[["State"]]))

# Add the encoded variable names to the dataframe
encode_df

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
# Merge one-hot encoded features and drop the originals
cleaned.merge(encode_df,left_index=True, right_index=True)

,State,Year,Population,Violent Crime,0,1,2,3,4,5,...,30,31,32,33,34,35,36,37,38,39
2,ARIZONA,2011,361339,1502,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ARKANSAS,2011,194988,2905,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CALIFORNIA,2011,266646,1267,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,COLORADO,2011,209431,948,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,CONNECTICUT,2011,126592,1116,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,LOUISIANA,2018,181063,730,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
280,MARYLAND,2018,605436,5143,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
281,MASSACHUSETTS,2018,142059,429,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
282,MICHIGAN,2018,213453,1283,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
283,MINNESOTA,2018,285018,922,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
# Merge one-hot encoded features and drop the originals
crime_df = cleaned.drop(["State"], axis=1).merge(encode_df,left_index=True, right_index=True)
crime_df

,Year,Population,Violent Crime,0,1,2,3,4,5,6,...,30,31,32,33,34,35,36,37,38,39
2,2011,361339,1502,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011,194988,2905,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011,266646,1267,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2011,209431,948,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2011,126592,1116,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,2018,181063,730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
280,2018,605436,5143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
281,2018,142059,429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
282,2018,213453,1283,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
283,2018,285018,922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
# Remove target from features data
y = crime_df["Violent Crime"].values
X = crime_df.drop(columns=["Violent Crime"], axis=1).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)

In [10]:
# Create a random forest classifier.
rf_model = RandomForestRegressor(n_estimators=300, random_state=100) 

# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test)

In [11]:
y_pred

array([4674.43666667,  238.89666667,  229.48333333,  439.52333333,
       1720.72      , 1444.56666667, 1104.78      ,  399.53      ,
        709.79333333,  553.45      , 1408.06      ,  793.93666667,
        326.29      , 1119.18      , 1951.52      , 1749.98666667,
        440.42333333, 2896.11      ,  733.39      ,  428.83      ,
        280.29333333,  389.03666667,  463.9       ,  398.39333333,
       3338.37666667,  452.75666667, 1257.77333333,  380.07666667,
        469.62      , 1309.16      , 1395.67333333,  767.54333333,
       3295.18666667, 1341.51666667, 1432.10666667,  249.14666667,
        861.26666667,  930.26      ,  423.00666667,  948.38666667,
       1171.96333333,  655.08333333,  332.97      , 1604.86666667,
        444.21666667, 1266.41666667,  817.74666667,  909.4       ,
        399.23333333,  224.22      ,  390.88666667,  815.61333333,
       1152.75666667, 1819.27333333,  663.94      ,  325.61666667,
       1927.14      , 1754.56333333,  248.13      , 1150.47      ,
       2461.86      ,  366.05      ,  561.23666667, 1389.05333333,
        538.97666667,  423.81666667])

In [12]:
encode_2028 = pd.DataFrame(enc.fit_transform(pop2028[["State"]]))

encode_2028 = cleaned.drop(["State", "Violent Crime"], axis=1).merge(encode_2028,left_index=True, right_index=True)

encode_2028

,Year,Population,0,1,2,3,4,5,6,7,...,30,31,32,33,34,35,36,37,38,39
2,2011,361339,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011,194988,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011,266646,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2011,209431,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2011,126592,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2011,208439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2011,240364,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2011,207945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2011,140350,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2011,158234,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2011,228647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2011,481500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2011,216363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2011,626848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2011,137277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2011,213587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2011,336598,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2011,233628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2011,105095,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2011,336647,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2011,648499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2011,109708,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2011,179772,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2011,551961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2011,186857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,2011,107329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2011,258788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2011,364807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2011,252710,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
35,2011,176376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36,2011,121481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
37,2011,155760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
38,2011,309842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
39,2011,338751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [13]:
pred_2028 = rf_model.predict(encode_2028)
pred_2028

array([1913.93666667, 2207.66333333, 1272.87      , 1171.96333333,
        961.36333333, 1168.11666667, 1497.96666667, 1501.05333333,
        790.25666667,  703.11666667, 1407.82      , 2505.33666667,
       1344.84666667, 5726.82666667,  902.61      , 1491.78333333,
       2483.53666667, 1625.89      ,  434.92333333, 2456.36666667,
       4663.22666667,  381.98666667, 1204.70333333, 3463.17333333,
       1421.29666667,  377.18666667, 1341.51666667, 2306.69333333,
       1359.09333333,  940.33      ,  443.31333333,  763.11      ,
       1714.02666667, 2278.87333333])

In [14]:
pop2028

             State  Year     Population
0          ARIZONA  2028  378558.816667
1         ARKANSAS  2028  176977.160000
2       CALIFORNIA  2028  293668.236667
3         COLORADO  2028  221890.436667
4      CONNECTICUT  2028  128024.430000
5          FLORIDA  2028  178081.776667
6          GEORGIA  2028  242543.240000
7           HAWAII  2028  966734.036667
8            IDAHO  2028  175753.353333
9         ILLINOIS  2028  475493.360000
10         INDIANA  2028  195513.663333
11          KANSAS  2028  319097.926667
12        KENTUCKY  2028  342346.256667
13       LOUISIANA  2028  177435.643333
14        MARYLAND  2028  584199.050000
15   MASSACHUSETTS  2028  142588.483333
16        MICHIGAN  2028  204795.393333
17       MINNESOTA  2028  268156.780000
18        MISSOURI  2028  190537.720000
19         MONTANA  2028  112166.743333
20        NEBRASKA  2028  328722.036667
21          NEVADA  2028  589316.196667
22   NEW HAMPSHIRE  2028  112449.733333
23      NEW JERSEY  2028  158615.063333
24      NEW MEXICO  2028  397619.543333
25        NEW YORK  2028  181485.736667
26    NORTH DAKOTA  2028  124251.220000
27            OHIO  2028  270796.716667
28        OKLAHOMA  2028  322898.150000
29          OREGON  2028  165949.373333
30    PENNSYLVANIA  2028  682497.203333
31    RHODE ISLAND  2028  173045.336667
32  SOUTH CAROLINA  2028  134325.783333
33    SOUTH DAKOTA  2028  178000.290000
34       TENNESSEE  2028  328914.310000
35           TEXAS  2028  298416.526667
36            UTAH  2028  145033.900000
37        VIRGINIA  2028  190608.133333
38      WASHINGTON  2028  168143.976667
39       WISCONSIN  2028  314781.930000

In [20]:
# pop2028["Violent Crime"] = pred_2028
# year_vcrime_df = pop2028[["Year","Population","Violent Crime"]].reset_index().drop(["index"], axis=1)
# year_vcrime_df

In [21]:
# population_pred_df = crime_df[crime_df["Year"]==2018]
# population_pred_df["Year"] = population_pred_df["Year"]+10
# prediction_table_df = population_pred_df.drop(["Violent Crime", "Population"],axis=1)
# pop_predictions = rf_model.predict(prediction_table_df.values)

In [22]:
# pop_predictions

In [23]:
# prediction_table_df["Population"] = pop_predictions
# year_pop_df = prediction_table_df[["Year","Population"]].reset_index().drop(["index"], axis=1)
# year_pop_df

In [24]:
# year_pop_df["State"] = states2018
# year_pop_df